<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SnapshotTesting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F50B924E2096B5F3007E2B56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F50B92622096B5F5007E2B56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F50B927B2096BC3E007E2B56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
